kind: Service
apiVersion: v1
metadata:
  name: jackett
spec:
  selector:
    app: jackett
  ports:
  - protocol: TCP
    port: 9117
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jackett
  labels:
    app: jackett
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jackett
  template:
    metadata:
      labels:
        app: jackett
    spec:
      containers:
      - name: transmission
        image: lsioarmhf/jackett:latest
        ports:
        - containerPort: 9117
        volumeMounts:
        - mountPath: /config
          name: jackett-config
        env:
          - name: PGID
            value: "1000"
          - name: PUID
            value: "1000"
      volumes:
      - name: jackett-config
        persistentVolumeClaim:
          claimName: jackett-config
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: jackett-config
    annotations:
        volume.beta.kubernetes.io/storage-class: slow
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Mi
