kind: Service
apiVersion: v1
metadata:
  name: sickrage
spec:
  selector:
    app: sickrage
  ports:
  - protocol: TCP
    port: 8081
  type: NodePort
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: sickrage
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
  - host: sickrage.local
    http:
      paths:
      - path: /
        backend:
          serviceName: sickrage
          servicePort: 8081
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sickrage
  labels:
    app: sickrage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sickrage
  template:
    metadata:
      labels:
        app: sickrage
    spec:
      containers:
      - name: sickrage
        image: lsioarmhf/sickrage:latest
        # livenessProbe:
        #   httpGet:
        #     path: /home
        #     port: 8081
        #   initialDelaySeconds: 180
        #   periodSeconds: 30
        # readinessProbe:
        #   httpGet:
        #     path: /home
        #     port: 8081
        #   initialDelaySeconds: 180
        #   periodSeconds: 30
        ports:
        - containerPort: 8081
        volumeMounts:
        - mountPath: /config
          name: sickrage-config
        - mountPath: /tv
          name: nfs-series
        - mountPath: /downloads
          name: downloads
        env:
          - name: PGID
            value: "1000"
          - name: PUID
            value: "1000"
      volumes:
      - name: sickrage-config
        persistentVolumeClaim:
          claimName: sickrage-config
      - name: downloads
        persistentVolumeClaim:
          claimName: downloads
      - name: nfs-series
        persistentVolumeClaim:
          claimName: nfs-series

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: sickrage-config
  annotations:
    volume.beta.kubernetes.io/storage-class: glusterfs-storage
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Mi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-series
spec:
  capacity:
    storage: 10Mi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.1.20
    path: "/volume1/Series"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-series
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 10Mi
