kind: Service
apiVersion: v1
metadata:
  name: transmission
spec:
  selector:
    app: transmission
  ports:
  - protocol: TCP
    port: 9091
    targetPort: 9091
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
  labels:
    app: transmission
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      containers:
      - name: transmission
        image: lsioarmhf/transmission
        ports:
        - containerPort: 9091
        volumeMounts:
        - mountPath: /config
          name: transmission-config
        - mountPath: /downloads
          name: downloads
        env:
          - name: PGID
            value: "1000"
          - name: PUID
            value: "1000"
      initContainers:
      - name: init-transmission
        image: busybox
        command: ["cp","/tmp/settings.json","/config/settings.json"]
        volumeMounts:
        - mountPath: /config
          name: transmission-config
        - mountPath: /tmp/settings.json
          name: init-config
      volumes:
      - name: downloads
        persistentVolumeClaim:
          claimName: downloads
      - name: transmission-config
        persistentVolumeClaim:
          claimName: transmission-config
      - name: init-config
        hostPath:
          path: /src/rpi-kubernetes/files/transmission/settings.json
          type: File
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: transmission-config
    annotations:
        volume.beta.kubernetes.io/storage-class: glusterfs-storage
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 10Mi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: downloads
  annotations:
      volume.beta.kubernetes.io/storage-class: glusterfs-storage
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
