kind: Service
apiVersion: v1
metadata:
  name: couchpotato
spec:
  selector:
    app: couchpotato
  ports:
  - protocol: TCP
    port: 5050
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: couchpotato
  labels:
    app: couchpotato
spec:
  replicas: 1
  selector:
    matchLabels:
      app: couchpotato
  template:
    metadata:
      labels:
        app: couchpotato
    spec:
      containers:
      - name: transmission
        image: lsioarmhf/couchpotato
        ports:
        - containerPort: 5050
        volumeMounts:
        - mountPath: /config
          name: couchpotato-config
        - mountPath: /downloads
          name: downloads
        - mountPath: /movies
          name: nfs-movies
        env:
          - name: PGID
            value: "1000"
          - name: PUID
            value: "1000"
      volumes:
      - name: couchpotato-config
        persistentVolumeClaim:
          claimName: couchpotato-config
      - name: downloads
        persistentVolumeClaim:
          claimName: downloads
      - name: nfs-movies
        persistentVolumeClaim:
          claimName: nfs-movies
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: couchpotato-config
    annotations:
        volume.beta.kubernetes.io/storage-class: glusterfs-storage
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Mi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-movies
spec:
  capacity:
    storage: 10Mi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 192.168.1.20
    path: "/volume1/Movies"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-movies
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 10Mi
